app_name: neverending-blog
replicas: 1
# build info not used atm
build:
  build_tag: 3.8
  base_image: registry.redhat.io/rhel8/python-38
image_repository: image-registry.openshift-image-registry.svc:5000
image_name: neverending-blog
image_namespace:
image_tag: latest

# OCP route
route: true

# Database
database:
  service_host: neverending-db-postgresql
  service_port: 5432
  name: neverendingblog
  user: bastian
  password: balthazar

#Django
secret_key: xxub4w!i2$*bb#s5r%od4qepb7i-2@pq+yvna-2sj5d!tc8#8f
environment: dev
