apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  labels:
    {{- include "neverending-blog.labels" . | nindent 4 }}
  name: {{ include "neverending-blog.fullname" . }}
spec:
  replicas: {{ .Values.replicas }}
  revisionHistoryLimit: 10
  selector:
    {{- include "neverending-blog.selectorLabels" . | nindent 4 }}
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      labels:
        {{- include "neverending-blog.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - image: "{{ .Values.image_repository }}/{{ .Values.image_namespace | default .Release.Namespace }}/{{ .Values.image_name }}:{{ .Values.image_tag }}"
        imagePullPolicy: Always
        name: {{ include "neverending-blog.name" . }}
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        readinessProbe:
          httpGet:
            path: /
            port: 8080
          initialDelaySeconds: 10
          timeoutSeconds: 1
        env:
          - name: ENV
            value: {{ .Values.environment }}
          - name: DATABASE_SERVICE_HOST
            value: {{ .Values.database.service_host }}
          - name: DATABASE_SERVICE_PORT
            value: 5432
          - name: DATABASE_NAME
            value: {{ .Values.database.name }}
          - name: DATABASE_USER
            value: {{ .Values.database.user }}
          - name: DATABASE_PASSWORD
            value: {{ .Values.database.password }}
          - name: DJANGO_SECRET_KEY
            value: {{ .Values.secret_key }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
  test: false
  triggers:
  - type: ConfigChange
  - type: ImageChange
    imageChangeParams:
      automatic: true
      containerNames:
        - {{ include "neverending-blog.name" . }}
      from:
        kind: ImageStreamTag
        name: {{ .Values.image_name }}:{{ .Values.image_tag }}